@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto&family=Ubuntu:wght@300&display=swap');
body {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}

.nav {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-brand {
    font-family: 'Roboto Condensed';
    font-size: 35px;
}

.nav-link {
    font-size: 18px;
    padding-left: 40px !important;
    margin: 0 !important;
    color: black;
    font-family: 'Roboto Condensed';
}

.nav-link:hover {
    color: #0d6efd !important;
}

.active .nav-link {
    color: #0d6efd !important;
}

.menu-right-btn {
    padding: 13px 46px;
    margin-right: 3%;
    background-color: transparent;
    transition: all 300ms ease-in;
}

.menu-right-btn:hover {
    color: white;
    background-color: #0d6efd;
}

.sideBar {
    position: fixed;
}

.site-content {
    background-image: url('img/img6.png');
    background-attachment: fixed;
    background-size: cover;
    height: 32rem;
}

.site-title,
.site-desc {
    color: white;
    font-family: Rightenous;
}

.site-title {
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
}

.site-desc {
    font-size: 14px;
    padding-left: 15%;
}

.site-btn1 {
    margin-left: 28%;
}

.site-btn2 {
    margin-left: 8%;
}

.site-btn1,
.site-btn2 {
    margin-top: 4%;
    margin-bottom: 40%;
}


/* .carousel-item img{
    height: 500px;
} */

.section-1 .heading-1 {
    margin-top: 3%;
}

.section-1 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
}

.section-1 .para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text,
.para-1 {
    color: rgb(0, 0, 0, 0.59);
}

.section-1 {
    margin-bottom: 3%;
}

.card {
    width: 20rem;
}

.section-2 .container-fluid {
    background-image: url(img/img1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.section-2 .heading-1 {
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: 'Righteous';
    width: 80%;
    color: whitesmoke;
}

.section-2 .para {
    width: 80%;
    font-family: 'Ubuntu';
    color: whitesmoke;
    margin-bottom: 7%;
}

.section-2 .btn {
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
}

.section-3 {
    margin-bottom: 2%;
}

.section-3 i {
    color: #0d6efd;
}

.section-3 p {
    color: rgba(0, 0, 0, 0.59);
}

.conRow {
    margin-top: 2%;
}

.carouselTop {
    padding: 0% !important;
}

.section-4 {
    margin-top: 3% !important;
}

.section-4 .row,
.col-md-7,
.col-md-5 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.section-4 a {
    color: lightseagreen;
    font-size: 40px;
    text-decoration: none;
}

.section-4 .para-1 {
    color: white;
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 23px;
}

.social i {
    font-size: 20px;
}

.container-carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.footer {
    margin-left: 3%;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 768px) {
    .section-1 .card {
        width: 14rem;
    }
    .section-4 .col-md-7 img {
        width: 350px;
    }
}

@media screen and (max-width: 320px) {
    .site-content .site-title {
        font-size: 30px;
        padding-left: 15%;
    }
    .section-1 .heading-1,
    .section-1 .heading-2 {
        font-size: 25px;
    }
    .section-1 .col-md-4 {
        padding: 0% 5%;
        margin-left: 8%;
    }
    .section-1 .card {
        width: 15rem;
        margin-left: 15%;
    }
}